# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore other common Python temporary files
*.pyo
*.pyd
*.pyd
*.pyc

*.log

.idea/


rplugin/python3/bin
